
{% extends "layout.html" %}

{% block content %}
<h1>Авторизация</h1>
<div class="r-sidebar">
<form action=""  method="post" name="login" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    
				<div class="r-sidebar-item">
		
					<div class="img">
						<a href="ui-304.html#"><img src="img/ui-304/user.jpg" alt="" class="img-responsive"></a>
					</div>
			
					<div class="name">
						<h3>{{refree.name}}</h3>

					</div>
					<div class="clearfix"></div>
				</div>
    				<div class="r-detail">
					<table>	
						<tbody><tr>
							<th>Имя</th>
							<td>{{refree.name}}</td>
						</tr>
						<tr>
							<th>Фамилия</th>
							<td>{{refree.secondName}}</td>
						</tr>
						<tr>
							<th>Эл.почта</th>
							<td>{{refree.email}}</td>
						</tr>
                       						<tr>
							<th>Текущая лига</th>
							<td>{{form.League(class_="form-control")}}</td>
						</tr>     

					</tbody></table>

				</div>


    

    <p><input type="submit" class = "btn btn-primary mb-2" value="Sign In"></p>
</form>
</div>
{% endblock %}
