{% extends "layout.html" %}

{% block content %}
<h1>Sign Up</h1>
<form action=""  method="post" name="login" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <p >
        Введите ваш Логин:<br>
        {{form.Login(size=80, class_="form-control")}}<br>
    </p>
        <p>
        Введите вашу эл. почту<br>
        {{form.Email(size=80, class_="form-control")}}<br>
    </p>
                <p>
        Введите ваше имя<br>
        {{form.FirstName(size=80, class_="form-control")}}<br>
    </p>
                <p>
        Введите вашу фамилию<br>
        {{form.SecondName(size=80, class_="form-control")}}<br>
    </p>
            <p>
        Введите пароль:<br>
        {{form.Password(size=80, class_="form-control")}}<br>
    </p>
                <p>
        Повторите пароль:<br>
        {{form.Confirm(size=80, class_="form-control")}}<br>
    </p>


            <p>
        Выберите лигу для судейства<br>
        {{form.League(class_="form-control")}}<br>


    <p><input type="submit" class = "btn btn-primary mb-2" value="Sign In"></p>
</form>

{% endblock %}